

  
 
  @import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,800;9..144,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,400&display=swap');



body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    height: 100vh;
    font-size: 14px;
    background-color: hsl(30, 38%, 92%);
}


main.container{
   display: flex;
   width: 51%;
   background-color: white;
   border-radius: 30px;
}

 div.content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: left;
    margin-left: 30px; 
    background-color: white;
    -webkit-border-top-right-radius: 15px;
-webkit-border-bottom-right-radius: 15px;
-moz-border-radius-topright: 15px;
-moz-border-radius-bottomright: 15px;
border-top-right-radius: 15px;
border-bottom-right-radius: 15px;
     
} 


h1.top{


font-family: 'Montserrat', sans-serif;
font-weight: 300;
font-size: 17px;

}


h1.second{
  
    font-family: "Fraunces", sans-serif;
    font-weight: 900;

}

p.d{

font-family: 'Montserrat', sans-serif;
font-weight: 500;
font-size: 18px;

}

div.card img{
    display: flex;
    width: 100%;
    justify-content: left;
    -webkit-border-top-left-radius: 15px;
-webkit-border-bottom-left-radius: 15px;
-moz-border-radius-topleft: 15px;
-moz-border-radius-bottomleft: 15px;
border-top-left-radius: 15px;
border-bottom-left-radius: 15px;

}

button{
    background-color:  hsl(158, 36%, 37%);
    margin: 0 auto;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    color: white;
    border: solid 2px white;
}

div.money{

    display: flex;
    list-style-type: none;
    padding-top: 25px;
    /* justify-content: space-around; */
    /* justify-content: left; */
    
}

div.money .price{

    color:hsl(158, 36%, 37%) ;
    font-size: 30px;
    font-family: "Fraunces", sans-serif;
    font-weight: 700;
    margin-right: 30px;
    margin-top: -3px;
}
 div.money .price2{
    text-decoration: line-through;
 }
div.butt{
    display: inline-block;
    padding-bottom: 25px;
    padding-right: 15px;
   
}

